{% extends "base.html" %}
{% load static %}
{% load auth_extras %}
{% block content %}
{% if request.user|has_group:"blogadmin" or user.is_superuser%}

    <div class="container-fluid">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button>Save</button>
        </form>

    </div>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace('id_body');  // Replace 'id_body' with the actual ID of your CKEditor field
    </script>
    {%else%}
            <div class="container-fluid">
                <div class="jumbotron text-center">
                    <h3>You are not authorized to create post</h3>
                </div>
            </div>
    {% endif %}
{% endblock content %}

