
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid text-center" style="border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 18px rgb(79,90,122); !important">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1611.9268892666707!2d76.20147954725675!3d10.212705198473122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b081b609a8925a3%3A0xb741b000e601c7c3!2sCCSIT%20Kodungallur!5e0!3m2!1sen!2sin!4v1706958171278!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <br>
    <br>

{% endblock content %}